body {
    /*margin-top: 40px;*/
}
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    /*margin-bottom: 20px;*/
}
.row .row {
    margin-top: 5px;
    margin-bottom: 0;
}
[class*="col-"] {
    padding-top: 5px;
    padding-bottom: 5px;
    /*background-color: #eee;*/
    /*background-color: rgba(86,61,124,.15);*/
    /*border: 1px solid #ddd;*/
    /*border: 1px solid rgba(86,61,124,.2);*/
}

#reddit-logo {
    width: 50%;
    height: auto;
}
#login {
    margin-bottom: 20px;
}

#login-left {
    width: 50%;
    float:left;
    /*margin-right: 10px;*/
}

#login-right {
    margin-left: 10px;
    width: 45%;
    float:left;
}

#login-right button {
    display: block;
    width: 100%;
    height: 35px;
    padding: 4px 6px;
    margin-bottom: 19px;
}

#submission button {
    margin-bottom: 10px;
}

nav {
    font-size: 100%;
}

#sortnav {
    position:absolute;
    right:0px;
    bottom:0px;
}

#sortnav li {
    font-style: 80%;
    /*background-color: white;*/
    /*padding: 5px 2px 2px 2px;*/
} 

#submission button {
    float: right;
    /*margin: 0 auto;*/
    width: 100%;
}

.vote {
    padding-top: 1em;
    min-height: 3em;
    vertical-align: middle;
}

.reddit-link {
    text-align:justify;
    margin-bottom: 10px;
    border-left: 2px solid red;
}

.reddit-link a:hover{
    text-decoration: none;
}

.postrow:hover{
     background-color: #eee;
}

.arrow {
    float: right;
    font-size: 190%;
    cursor: pointer;
}

.glyphicon-arrow-up:hover{
    color:#FF885C;
}

.glyphicon-arrow-down:hover {
    color: #9191FF;
}

.glyphicon-arrow-up-clicked{
    color:#FF885C;
}

.glyphicon-arrow-down-clicked {
    color: #9191FF;
}



.count {
    float:right;
    min-width: 6em;
    text-align: center;
}

.details{
    font-size: 75%;
}

.submission {
    float:left;
}

.comments {
    float:right;
}

.comments:after{
    clear:both;
}

.footer {
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.footer a {
    color: #999999;
}

.footer a:hover {
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.footerTitle{
    display:block;
    width:100px;
    margin: 0 auto;
    font-size: 120%;
    margin-bottom: .3em;
}

.footerList {
    list-style-type: none;
}

.legal {
    text-align: center;
    display:block;
    width:100%;
    margin:0 auto;
    font-size: 70%;
}

.post-image-container {
    width: 90px;
    height: 90px;
    overflow: hidden;
    margin-right: 5px;
    float:left;
}

.comment-image-container{
    width: 90px;
    height: 90px;
    overflow: hidden;
    margin-right:5px;
    display:inline-block;
    /*float:left;*/
   border-radius:5px;
   /*position:absolute; */
}

.comment-modal-text{
    display:inline-block;
}

.post-image {
    width: 90px;
    /*height: 100%;*/
}

.nested-comments {
    padding-left: 0px;
}

.nested-comments li {
    margin: .5em 0 0 0;
    padding-left: .5em;
    list-style-type: none;
}

.nested-comments li {
    border-left: 2px solid #d9534f;
}


.nested-comments li:nth-child(1) {
    border-left: 2px solid #d9534f;
}

.nested-comments li:nth-child(2) {
    border-left: 2px solid #f0ad4e;
}

.nested-comments li:nth-child(3) {
    border-left: 2px solid #5bc0de;
}

.nested-comments li:nth-child(4) {
    border-left: 2px solid #5cb85c;
}

.nested-comments li:nth-child(4) {
    border-left: 2px solid #428bca;
}

.nested-comments li:hover{
    background-color: #eee;
}

.comment-detail * {
    margin-top: .5em;
    color: gray;
}

.comment-calendar {
    margin-left: 1.5em;
}

.comment-username {
    margin-left: .1em;
}


.comment-tag{
    margin-left: 1.5em;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1)
}

.comment-username{
    /*font-style: italic;*/
}

.comment-edit{
    margin-left:20px;
}

.comment-edit:hover{
    text-decoration: underline;
    cursor:pointer;
}

.response{
    /*min-height: 10px;*/
    /*min-width: 50px;*/
    /*border: 1px solid blue;*/
    padding-bottom: 50px;
}

.response-button-row{
    float:right;
}

.response-button-row:after{
    clear:both;
}

@media all and (max-width: 600px) {
  #sortnav {
    margin-top: 10px;
    font-size: 80%;
    min-width: 300px;   
  }
}

@media all and (max-width: 902px){
    .count {
        text-align: right;
        padding-right: 9px;
    }

    .arrow {
        padding-right: .4em;
    }

    .footerTitle {
        text-decoration: underline;
        margin: inherit;
        padding-left: 40px;
    }
}